

This site was intended to host an emulator project that I started. 
At the moment, the emulator is incomplete (graphics are rendered backwards and it is not yet interactive).
Unlike some other games that try and mimic the Space Invaders game itself, this project, like other emulators,
tries to mimic the processor itself for the classic arcade cabinets. In this case, it is the Intel 8080.

The emulator successfully runs the game in Attract Mode (aka demo mode) but a few bugs cause the ships to not explode
when hit. I will continue working on the emulator <a href=''>here</a>, but at this point, its mostly debugging assembly
code (😭 so much fun!).

Thanks for visiting! 




Kwesi Daniel
NYU Class of 2018
